.courses-container { 
    padding-top: 1%;
    height: 67%;
    display: flex;
    gap: 1px;
    grid-auto-flow: column;
    grid-auto-columns: 35%;
    overflow-x: auto;
}

.courses-heading { 
    justify-content: center;
    align-items: center;
 background-color: FFFFFF;
 height: 25px;
 width: 100%;
}
.Carousel-div {
    display: flex;
}

.courses-heading h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;;
    font-size: 25px;
    color: rgb(126,34,206);
}

.course-card { 
    height: 90%;
    width: 95%;
    padding: 1%;
    border: 1px;
    border-radius: 1%;
    box-shadow: 2%;
    font-family: 'Raleway', sans-serif;
    color: blueviolet;
}